{% extends 'base.html' %}

{% block head %}

{%  endblock %}



{% block content %}
    <style>
    .container-about {
    background-color: steelblue;
    background-image: linear-gradient(#4682b4, #8693a9);
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
    color: white;
    font-size: 16pt;
    padding: 5px;
}
    </style>
    <div class="container">
    <div class="container-about" >
        <h4 style="font-family: Tahoma"><center>About the Generic County Ohio Public Library System</center></h4>
        <center><p> The Generic County Public Library system is a proud member of the Generic County and larger Ohio communities in which it serves.
        <br><br>
        Founded in 1992, the Generic County library system currently has three public branches serving the community.
        We welcome our members to visit any of the three branches for a unique selection of materials specific to the town the branch resides.
        <br><br>
        Please review the links found on the navigation bar along the top of the page to further explore what the library has to offer!
        </p></center>
    </div>
</div>

{% endblock %}