<table style="background-color: lightgray; color: black">
                <tr style="border-color: black">
                    <th style="background-color: white; color: black; font-size: 14pt; width: 150px;" class=" book_table_headers" >Book Cover</th>
                    <th style="background-color: white; color: black; font-size: 14pt; width: 200px;" class=" book_table_headers" >Title</th>
                    <th style="background-color: white; color: black; font-size: 14pt; width: 200px;" class=" book_table_headers" >Authors</th>
                    <th style="background-color: white; color: black; font-size: 14pt; width: 200px;" class=" book_table_headers" >Average Rating</th>
                    <th style="background-color: white; color: black; font-size: 14pt; width: 200px;" class=" book_table_headers">Similar Titles</th>
                </tr>
                <tbody>
                {% for book in books["work"] %}
                    <tr style="border-right-color: black; border-width: 3px">
                        <td>
                            <a href="{{ url_for('book_details', book_id=book.goodreads_book_id) }}">
                                <div style="height:100%;width:100%">
                                   <center> <img src="{{ book.image_url}}"></center>
                                </div>
                            </a>
                        </td>

                        <input type="hidden" name="book_id" value="{{ book.goodreads_book_id}}" />
                        <td style="border-right-color: black; border-width: 3px"> <center> {{ book.title }} </center> </td>
                        <input type="hidden" name="title" value="{{ book.title }}" />
                        <td style="border-right-color: black; border-width: 3px; width: 20px"> <center>{{ book.authors }} </center></td>
                        <input type="hidden" name="authors" value="{{ book.authors }}" />
                        <td style="border-right-color: black; border-width: 3px"><center> {{ book.average_rating }} </center></td>
                        <input type="hidden" name="average_rating" value="{{ book.average_rating }}" />
                        <td style="border-right-color: black; border-width: 3px">
                            <a href={{ url_for( 'get_recs', title=book.title)}}>
                                <div>
                                    <center><label>Recs</label></center>
                                </div>
                            </a>
                        </td>
                    </tr>
                {%  endfor %}
                </tbody>
            </table>
        </div>
    </div>